html {
	font-family: system-ui, sans-serif;
	color-scheme: light dark;
}

form {
	label,
	input,
	textarea,
	button,
	a {
		display: block;
		width: -webkit-fill-available;
		width: stretch;

		+ p[id] {
			margin-block-start: 0.25rem;
		}

		+ label,
		+ button,
		+ a {
			margin-block-start: 1rem;
		}
	}
	margin-block: 1rem;
}

ol,
ul {
	li + li {
		margin-block-start: 1rem;
	}
}
